* {
  font-family: "FiraMono Nerd Font";
  font-size: 16px;
    font-weight: 500;
    min-height: 0px;
    min-width: 0px;
}

window {
  background-color: transparent;
}

.info_stack {
  margin: 4px;
}

.info_stack label {
  padding: 0.25em;
  border-radius: 0.25em;
  background-color: @window_bg_color;
  color: @window_fg_color;
}

popover {
    background-color: @popover_bg_color;
}

.workspaces {
    background-color: @window_bg_color;
    margin-top: 4px;
    padding: 4px;
    border-radius: 0.25em;
}

.workspace {
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    background-color: @window_bg_color;
    border-width: 0px;
}

.workspace:hover {
    background-color: #282727;
}
.workspace:active {
    background-color: #393836;
}

.workspace.focused {
    background-color: #282727;
    color: @blue_1;
}

.workspace.empty {
    color: #625e5a;
}

.workspace label {
    padding: 0px;
}

.battery_level.charging {
    color: @blue_1;
}
.battery_level.30 {
    color: @yellow_1;
}
.battery_level.20 {
    color: @orange_1;
}
.battery_level.10 {
    color: @red_1;
}
